@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=cyrillic');

.cke_editable {
    font-size: 15px;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background: #f2f2f2;
    padding: 15px;
    margin-bottom: 20px;
}

header .nav {
    float: right;
}

header .nav a {
    margin-right: 10px;
}

footer {
    margin: 50px 0 20px;
    padding-top: 20px;
    border-top: 1px solid #e2e2e2;
}

footer a {
    color: #666666;
}

footer a:hover {
    color: #666666;
}

.auth-form {
    width: 400px;
    margin: 0 auto;
}

.form {
    width: 600px;
    margin: 0 auto;
}

.list {
    margin: 20px 0;
}

.label-block {
    display: block;
    clear: both;
}

.close-img-button {
    position: absolute;
    right: 5px;
    top: 0;
    cursor: pointer;
}

.thumbnail {
    position: relative;
    display: block;
    padding: 4px;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}

.main-page-link {
    padding: .375rem .75rem;
    border: 1px solid #cccccc;
    border-radius: 0 .25rem .25rem 0;
}

.main-page-link:hover {
    text-decoration: none;
    background: #eeeeee;
}